/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 100vh;
}
/* PLAYER SECTION ********************/
.player-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
}



  /* SCOREBOARD */

.scoreboard {
  height: 87.2px;
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  background: white;
  order: 2;}

.score-title {
  height: 50%;
  width: 100%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-scores {
  width: 100%;
  border: 5px solid black;
  height: 50%;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-score {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-0-score {
  border-right: 1.25px solid black;
}

.player-1-score {
  border-left: 1.25px solid black;
}
  /* END SCOREBOARD */


/* PLAYER NAME & ACTIVE PLAYER */

.player-0, .player-1 {
  width: 50%;
  display: flex;
  justify-content: center;
  width: 25%;
  border: 5px solid black;
  transition: 1s;
}

.player-0 {
  order: 1;
}

.player-1 {
  order: 3
}

.player-name h2 {
  font-weight: normal;
  text-align: center;
}

.active {
  border: 5px solid red;
}

  /*END PLAYER NAME & ACTIVE SECTION

/*END PLAYER-SECTION ***************************/






/*START GAME-CONTAINER SECTION ******************/

/* GAME BOARD */
.game-container {
  width: 80%;
  margin: auto;
  /*margin-top: 10%;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  /*position: absolute;
  bottom: 40px;*/
  background: black;
}

.box {
  width: 93px;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-size: 70px;
}

.box h1 {
  font-size: 40px;
}

.red {color: red;}


/************************* ANNOUNCE WINNER SECTION */

.announce {
  position: absolute;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}



.win-boxes {
  margin: 20px;
  background: black;
  font-family: 'Poppins';
  padding: 10px 45px;
  box-shadow: 6px 6px 0 red;
  transform: skewX(-15deg);
  transition: .2s;
}

.new-game:hover {
  transform: translateY(-2px) skewX(-15deg);
  box-shadow: 8px 8px 0 red;
  cursor: pointer;
}

.display {
  display: flex;
}

.s1 {
  animation-name: new-color;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.s2 {
  animation-name: new-color;
  animation-delay: .2s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.s3 {
  animation-name: new-color;
  animation-delay: .3s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.s4 {
  animation-name: new-color;
  animation-delay: .4s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.s5 {
  animation-name: new-color;
  animation-delay: .5s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.s6 {
  animation-name: new-color;
  animation-delay: .6s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.s7 {
  animation-name: new-color;
  animation-delay: .7s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}


@keyframes new-color{
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

/************ END ANNOUNCE WINNER SECTION */





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports that meet the condition */
.game-container {
  width: 70%;
}

.box {
  width: 200px;
  height: 200px;
  font-size: 130px;
}

.announce {
  font-size: 60px;
}

}

@media only screen and (min-width: 1200px) {
  /* Style adjustments for viewports that meet the condition */

  
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

